body {
  margin-left: 50px;
  background-image: url("../images/bones.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.categories {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 1%;
}

img {
  width: 75%;
  height: 150px;
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.addbutton {
  float: left;
}
